#main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#fourth-wish{
    color: skyblue;
    display: flex;
    justify-content: center;
}
#images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-size: 100% 100%;
    position:relative;
    height:430px;
}
p{
    display: flex;
    justify-content: center;
}


#fourth-image1{
    background-image: url('../images/images.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0 0;
    margin-left: 4px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}
#fourth-image2{
    background-image: url('../images/aswini-4.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 0;
    box-sizing: border-box;
    margin-right: 4px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}
#FourthYearVideo{
    display: flex;
    justify-content: center;
}