#main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#sixth-wish{
    color: red;
    display: flex;
    justify-content: center;
}
#images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-size: 100% 100%;
    position:relative;
    height:430px;
}
p{
    display: flex;
    justify-content: center;
    text-align: justify;
}
#side-wish{
    font-family: sans-serif;
    text-align: left;
}

#sixth-image1{
    background-image: url('../images/360_F_134916885_DYDxRJYq3yV23K5V7SAqr9PJWv9gIkqL.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
    margin: 0 0;
    margin-left: 4px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}
#sixth-image2{
    background-image: url('../images/aswini-6.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
    margin: 0 0;
    box-sizing: border-box;
    margin-right: 4px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}
#sixthYearVideo{
    display: flex;
    justify-content: center;
}