#Third-main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Third-wish{
    color: #a183fa;
    display: flex;
    justify-content: center;
}
#Third-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-size: 100% 100%;
    position:relative;
    height:430px;
}
p{
    display: flex;
    justify-content: center;
    text-align: left;
}

#Third-image1{
    background-image: url('../images/a16bab05aa674e8c8f99fc1133b6179c.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0;
    margin-left: 4px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}
#Third-image2{
    background-image: url('../images/aswini-3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
    margin: 0 0;
    box-sizing: border-box;
    margin-right: 4px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}
#ThirdYearVideo{
    display: flex;
    justify-content: center;
}
#subHeading{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#statements{
    list-style-type: decimal;
    font-family: "Courgette",cursive;
    text-align: justify;
    margin: 15px;
}
