.model-class{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
#name{
    margin-left: 57px;
}
#dateOfBirth{
    margin-left: 10px;
}
#submit{
    margin-top: 5px;
    margin-left: 45%;
    margin-bottom: 5px;
}

#image{
    background-image: url('./images/360_F_134916885_DYDxRJYq3yV23K5V7SAqr9PJWv9gIkqL.jpg');
    background-size: 100% 100%;
    position:relative;
    min-height: 100vh;
    left:0;
    top:0;
    height:100%;
    filter: brightness(50%);
}
#years{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#birthday-line{
    display: flex;
    justify-content: center;
    color: magenta;
}
#buttons{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-class{
      height: 40px;
      width: 100px;  
      border-radius: 10px;
      font-family: Roboto, Arial, sans-serif;
      background-color:#fb641b;
      color: #fff;
      cursor: pointer;
      border: none;
}
#Year2024{
    position: relative;
    left: 50%;
}
#footer-div{
    background-color: #172337;
}
#footer{
    color: white;
    display: flex;
    justify-content: center;
    font-size: medium;
}
button:hover{
    background-color: blue;
}




